# Express Server
LOG_LEVEL='info'
NODE_ENV='development'
PORT=3000
CORS_ORIGIN='http://localhost:3000'

# Drizzle
DATABASE_URL='postgresql://postgres:postgres@localhost:5433/my_express_app'

# JWT
JWT_ACCESS_SECRET='your_super_secret_access_key'
JWT_REFRESH_SECRET='your_super_secret_refresh_key'

# Redis
REDIS_URL='redis://localhost:6379'

# Storage
STORAGE_PROVIDER='local' # local, cloudinary
UPLOAD_DIR='uploads'
CLOUDINARY_CLOUD_NAME='your_cloud_name'
CLOUDINARY_API_KEY='your_api_key'
CLOUDINARY_API_SECRET='your_api_secret'

# Email
SMTP_HOST='smtp_host'
SMTP_PORT='smtp_port'
SMTP_USER='smtp_user'
SMTP_PASS='smtp_pass'
EMAIL_FROM='email_from'
